.chat-main
  .chat-main__group-info
    .group-box
      .group-box__name
        テスト
      .group-box__member
        Member: 太郎
    = link_to "Edit", "#", class: "edit-btn"
  .chat-main__message-list
    .message-box
      .message-info
        .message-info__name
          てすとたろう
        .message-info__date
          2020年05月15日 15時32分
      .message-text
        てすと
      .message-info
        .message-info__name
          てすとたろう
        .message-info__date
          2020年05月15日 15時32分
      .message-text
        てすと
  .chat-main__message-form
    .message-form-box
      .form-text
        type a message
      %label{class: "form-image"}
        = icon('far', 'image')
        %input{type: "file",class: "input-btn"}
    = link_to "Send", "#", class: "form-send"
